<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Balise pour injecter les styles définis dans index.css -->
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <h1 class="h1">Mes jolies cards</h1>
    <!-- Un boutton assez simple -->
    <button id="press-me" type="button">Ecrase moi grand fou</button>

    <!-- Baliser pour injecter le javascript définis dans index.js -->
    <script src="index.js"></script>
</body>

</html>